bin/
obj/
**/bin/
**/obj/
**/App_Data/
.vs/
.vscode/
*.user
*.db
*.db-shm
*.db-wal
**/client_secret*.json
src/Nasdanus.KnowledgeImporter/Data/FoodData_Central_sr_legacy_food_csv_2018-04.zip
src/Nasdanus.KnowledgeImporter/Data/FoodData_Central_sr_legacy_food_csv_2018-04/
